<nav class="navbar is-black" style="padding:1rem;">
  <div class="navbar-brand">
    <img src="/images/bloco-de-anotacoes.png" width="50"/>
    <p class="navbar-item" href="#">
      Notekeeper
    </p>
  </div>
</nav>